
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Private Keys
file-server-private.key
postgresql-server-private.key

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
